[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pre-commit = "*"
black = "==19.3b0"
isort = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
python-decouple = "*"
dj-database-url = "*"
django-ratelimit = "*"
whitenoise = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-countries = "*"
pendulum = "*"

[requires]
python_version = "3.8"
