.collaborate-page {
  display: none;
  margin-left: 17.5rem;
  padding: 1rem;
  width: 34rem;

  & > .header {
    padding-bottom: 2.25rem;
    border-bottom: 1px solid rgba(#444442, .2);
  }

  & > .header > h1 {
    color: $normal-purple !important;
  }

  & > .header > p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1.75rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  & > .header > p > a {
    text-decoration: underline;
    color: $normal-purple;
  }

  & > .content {
    margin-top: 2.25rem;
  }

  & select {
    margin-bottom: 1rem;
  }

  & input,
  & select,
  & .tagify {
    margin-bottom: 1rem;
    padding: 0 .5rem;
    height: 2.75rem;
    background-color: rgba(#E7E7E7, .4);
    border: none;
    border-bottom: 1px solid rgba(#444442, .5);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  & .tagify {
    padding: 0;
    height: auto;
  }

  & button {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }

  & .js-collaborate-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .js-collaborate-form label {
    margin-bottom: 4px;
    color: #000;
  }

  & .js-dynamic-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5rem;
  }

  & .js-dynamic-fields > * + * {
    margin-top: .5rem;
  }

  & .js-dynamic-fields > * {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  & .js-dynamic-fields > .name,
  & .js-dynamic-fields > .social_media_username {
    width: 60%;
  }

  & .js-dynamic-fields > .start_birth_date,
  & .js-dynamic-fields > .start_death_date,
  & .js-dynamic-fields > .subscribers,
  & .js-dynamic-fields > .views,
  & .js-dynamic-fields > .country,
  & .js-dynamic-fields > .sexual_orientation,
  & .js-dynamic-fields > .year {
    width: calc(50% - .5rem);
  }
}