.menu-content {
  position: fixed !important;
  top: 0;
  left: 0;
  margin-top: 3.125rem;
  width: 216px;
  background-color: #fff !important;

  & .scrollbar-container li {
    font-weight: bold;
    font-size: 16px;
  }

  & ul li > label > svg {
    display: none;
  }

  & [data-role="search:results"] {
    margin-top: 0;
    border-top: 0;
    width: 100%;
  }

  & .sc-hXRMB i.nGwee {
    display: none;
  }

  & .sc-esOvli.kKQhLA {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
    }
  }

  & .sc-esOvli.kKQhLA > i,
  & .sc-esOvli.kKQhLA > svg {
    margin-top: 0.7rem;
  }

  & .operation-type {
    opacity: 0;
    width: 0px;
  }

  & .sc-gwVKww {
    position: relative;
    margin-right: auto;
    padding-left: 1rem;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      content: '';
      color: transparent;
      margin-top: 2px;
      width: 3px;
      height: 16px;
      background-color: rgba(#000, .25);
      transform: skewY(-25deg);
    }
  }

  & .sc-eTuwsz.-depth1.active.gcUzvG > .sc-gwVKww {

    &::before {
      background-color: $normal-purple;
    }

  }

  & ul > li > label {
    font-size: 14px;
  }

  & .scrollbar-container > ul > li > label {
    font-weight: bold;
  }

  & label[role="menuitem"] {
    font-weight: normal;
  }

  & .sc-eTuwsz.-depth2.active.gSKHto {
    color: $normal-purple;
  }

  & .sc-gwVKww.SmuWE {
    &::before {
      display: none;
    }
  }

  &[data-markjs] {
    background-color: transparent;
  }

  & .sc-hXRMBi.nGwee {
    display: none;
  }
}
