.nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  height: 3.125rem;
  padding: 0 1rem;
  border-bottom: 1px solid $light-gray;
  background-color: #FFF;

  & > .brand {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  
  & > .brand > .version {
    text-transform: uppercase;
    font-size: 0.625rem;
    border: 1px solid $light-gray;
    border-radius: 6px;
    padding: .15rem .75rem;
    color: rgba($dark-gray, .6);
    margin-left: .5rem;
  }

  & > .nav {
    display: flex;
    margin-left: 5rem;
    height: 100%;
  }

  & > .nav > a {
    position: relative;
    color: rgba(#000, .5);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;

    &:hover {
      color: #000;
    }
  }

  & > .nav > a.-active {
    color: #000;

    &::after {
      position: absolute;
      transform: skewX(-25deg);
      bottom: -1px;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $normal-purple;
    }
  }
}
