.not-found {
  background-color: #E7E7E7;
  color: $normal-purple;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
  justify-content: center;
  margin-top: 0;
}